
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ mlflow_name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ mlflow_name }}
    app.kubernetes.io/part-of: dss
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ mlflow_name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ mlflow_name }}
    app.kubernetes.io/part-of: dss
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ mlflow_name }}
      app.kubernetes.io/part-of: dss
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ mlflow_name }}
        app.kubernetes.io/part-of: dss
    spec:
      initContainers:
        - name: remove-problematic-folder
          image: busybox
          command:
            - sh
            - -c
            - |
              rm -rf /mlruns/lost+found/
          volumeMounts:
            - name: mlflow
              mountPath: /mlruns
      containers:
        - name: mlflow
          image: ubuntu/mlflow:2.1.1_1.0-22.04
          args: ["mlflow", "server", "--host", "0.0.0.0", "--port", "5000"]
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: mlflow
              mountPath: /mlruns
      volumes:
        - name: mlflow
          persistentVolumeClaim:
            claimName: {{ mlflow_name }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ mlflow_name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ mlflow_name }}
    app.kubernetes.io/part-of: dss
spec:
  selector:
    app.kubernetes.io/name: {{ mlflow_name }}
    app.kubernetes.io/part-of: dss
  ports:
    - protocol: TCP
      port: 5000
