apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ notebook_name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ notebook_name }}
    app.kubernetes.io/part-of: dss
    canonical.com/dss-notebook: {{ notebook_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/part-of: dss
      canonical.com/dss-notebook: {{ notebook_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/part-of: dss
        canonical.com/dss-notebook: {{ notebook_name }}
    spec:
      initContainers:
        - name: set-shared-folder-permissions
          image: {{ notebook_image }}
          command:
            - sh
            - -c
            - |
              chmod -R 775 /home/jovyan/shared && \
              chown -R jovyan:users /home/jovyan/shared
          securityContext:
            runAsUser: 0  # Run as root
          volumeMounts:
            - mountPath: /home/jovyan/shared
              name: home-volume
      containers:
        - env:
          - name: MLFLOW_TRACKING_URI
            value: {{ mlflow_tracking_uri }}
          image: {{ notebook_image }}
          command:
            - jupyter
          args:
            - lab
            - --notebook-dir=/home/jovyan
            - --ip=0.0.0.0
            - --no-browser
            - --allow-root
            - --port=8888
            - --ServerApp.token=''
            - --ServerApp.password=''
            - --ServerApp.allow_origin='*'
            - --ServerApp.allow_remote_access=True
            - --ServerApp.authenticate_prometheus=False
            - --ServerApp.base_url='/'
      {%- if intel_enabled == true %}
          resources:
            limits:
              gpu.intel.com/i915: 1
      {%- endif %}
          imagePullPolicy: IfNotPresent
          name: {{ notebook_name }}
          ports:
          - containerPort: 8888
            name: notebook-port
            protocol: TCP
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /dev/shm
            name: dshm
          - mountPath: /home/jovyan/shared
            name: home-volume
          workingDir: /home/jovyan
      terminationGracePeriodSeconds: 30
      volumes:
      - emptyDir:
          medium: Memory
        name: dshm
      - name: home-volume
        persistentVolumeClaim:
          claimName: {{ pvc_name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ notebook_name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ notebook_name }}
    app.kubernetes.io/part-of: dss
spec:
  selector:
    app.kubernetes.io/part-of: dss
    canonical.com/dss-notebook: {{ notebook_name }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8888
