apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ notebook_name }}
  namespace: {{ namespace }}
  labels:
    # TODO
    tbd: TBD
spec:
  replicas: 1
  selector:
    matchLabels:
      # TODO
      selector: TBD
  template:
    metadata:
      labels:
        notebook-name: {{ notebook_name }}
        # TODO
        selector: TBD
    spec:
      containers:
        - env:
          - name: NB_PREFIX
            value: /notebook/{{ namespace }}/{{ notebook_name }}
          - name: MLFLOW_TRACKING_URI
            value: {{ mlflow_tracking_uri }}
          image: {{ notebook_image }}
          imagePullPolicy: IfNotPresent
          name: {{ notebook_name }}
          ports:
          - containerPort: 8888
            name: notebook-port
            protocol: TCP
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /dev/shm
            name: dshm
          - mountPath: /home/jovyan
            name: home-volume
          workingDir: /home/jovyan
      terminationGracePeriodSeconds: 30
      volumes:
      - emptyDir:
          medium: Memory
        name: dshm
      - name: home-volume
        persistentVolumeClaim:
          claimName: {{ pvc_name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ notebook_name }}
  namespace: {{ namespace }}
  labels:
    # TODO
spec:
  selector:
    # TODO
    selector: TBD
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8888
