name: Tests
on:
  workflow_call:
    
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install dependencies
      run: python3 -m pip install tox
    - name: Run linters
      run: tox -e lint

  unit-test:
    name: Unit tests
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install dependencies
      run: python -m pip install tox
    - name: Run tests
      run: tox -e unit

  integration:
    name: Integration tests
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    # Remove once https://github.com/canonical/bundle-kubeflow/issues/761
    # is resolved and applied to all ROCKs repositories
    - name: Install python version from input
      run: |
        sudo add-apt-repository ppa:deadsnakes/ppa -y
        sudo apt update -y
        VERSION=3.10
        sudo apt install python3.10 python3.10-distutils python3.10-venv -y
        wget https://bootstrap.pypa.io/get-pip.py
        python3.10 get-pip.py
        python3.10 -m pip install tox
        rm get-pip.py
    
    - name: Install dependencies
      run: |
        # Removing docker as it is blocking canonical k8s bootstrap
        # For local dev reffer to this guide https://documentation.ubuntu.com/canonical-kubernetes/latest/snap/howto/install/dev-env/#containerd-conflicts
        sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
        sudo rm -rf /run/containerd
        
        sudo snap install kubectl --classic
        sudo snap install k8s --classic --channel=1.32-classic/stable
        sudo k8s bootstrap
        sudo k8s enable local-storage
        mkdir -p ~/.kube
        sudo k8s config > ~/.kube/config

    - name: Run tests
      run: tox -vve integration

